* {
	box-sizing: border-box;
}
body {
	font-size: 1.6em;
	background-color: #ddd;
	font-family: 'Pattaya', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #999;
	border-radius: 0px;
	margin: 0px;
	border: 0px;

}
h1 {
	font-size: 2.2em;
	margin: 0px;
	color: black;
}
.navbar-brand {
	height: auto;
}
.navbar-default .navbar-toggle {
	border-color: #000;
	border-radius: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}
.container-fluid>.navbar-collapse {
	margin-right: -16px;
	margin-left: -16px;
	border: 0px;
}
div#collapsable-nav.navbar-collapse {
	padding: 0px;
}
ul#nav-list.nav.navbar-nav.navbar-right {
	margin: 0px;
	box-shadow: none;
	border: 1px solid #ddd;
}
ul#nav-list.nav.navbar-nav.navbar-right li>a {
	font-size: 1.4em;
	color: #000;
	box-shadow: none;
	text-align: center;
	text-transform: capitalize;
	border-bottom: 1px solid #ddd;
}
button .navbar-togglecollapsed a:hover {
	background-color: red;
}
/**Body**/
h2, h3 {
	text-transform: capitalize;
	color: #000;
}
h2 {
	font-size: 2em;
	margin: 0px;
	padding: 70px 0px 40px;
}
h3 {
	font-size: 1.6em;
	position: relative;
}
#section1,#section2,#section3 {
	position: relative;
	border: 0px;
	background-color: #999;
	color: black;
	margin-bottom: 30px;
	padding: 25px;
}
p {
	margin: 0px 0px 30px;
}
hr {
	width: 80%;
	border: none;
    border-top: 3px double #ddd;
    overflow: visible;
    text-align: center;
    margin-bottom: 40px;
}
hr:after {
    background: #999;
    content: '§';
    color: #ddd;
    padding: 0 4px;
    position: relative;
    top: -13px;
}
button,#myBtn {
	position: absolute;
	right: 25px;
	bottom: 10px;
	border: 1px solid #333;
	background-color: #999;
	text-transform: capitalize;
	font-size: 20px;
}
a:hover, a:active,a:visited, a:link {
	text-decoration: none;
	color: #000;
	size: 1.6em;
}
/**MEDIA QUERIES**/

/**MEDIUM DEVICES**/
@media (min-width: 768px) {
	#nav-list {
		display: none;
	}
	.navbar {
		border: 0px;
	}
}

/**SMALL DEVICES**/
@media (max-width: 767px) {
	.navbar-default .navbar-toggle {
		margin-top: 30px;
	}
	#header-nav {
		padding-bottom: 0px;
	}
}
